<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
</head>

<body>
    <a href="#demo" class="btn btn-success" data-bs-toggle="collapse">toggle</a>

    <div class="collapse collapse-horizontal border rounded p-3 " id="demo">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Atque nulla unde consectetur ipsum quo sit magni nemo
        hic quaerat. Aut.</div>









    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>