<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
</head>

<body>

    <div class="accordion accordion-flush" id="accordionexample">


        <div class="accordion-item">
            <h2 class="accordion-header"><button class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseone">Accordion Item #1</button></h2>
        </div>


        <div class="accordion-collapse collapse" id="collapseone" data-bs-parent="#accordionexample">

            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laboriosam itaque
                ratione odit ex sunt molestias rem obcaecati, veritatis reiciendis.</div>

        </div>





        <div class="accordion-item">
            <h2 class="accordion-header"><button class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsetwo">Accordion Item #2</button></h2>
        </div>
        <div class="accordion-collapse collapse" id="collapsetwo" data-bs-parent="#accordionexample">
            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laboriosam itaque
                ratione odit ex sunt molestias rem obcaecati, veritatis reiciendis.</div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header"><button class="accordion-button " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsethree">Accordion Item #3</button></h2>
        </div>
        <div class="accordion-collapse collapse" id="collapsethree" data-bs-parent="#accordionexample">
            <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe laboriosam itaque
                ratione odit ex sunt molestias rem obcaecati, veritatis reiciendis.</div>
        </div>

    </div>





    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>